<!DOCTYPE html>

{%  load static  %}


<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sonic Rescources - Paras Chhugani</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>

    <link rel="shortcut icon" href="{% static 'img/sonicRun.gif' %}" type="image/gif" sizes="26x26">

    <style media="screen">
      body{
        background-color: #B5CAEB;
      }
      .testimg{
        height: 100%
        width: 100%;
        margin: 0px;
      }
      .testSubHead{
        position: absolute;
        background-color: rgba(255, 255, 255, 0.5);
        margin-left: 13%;
        width: 74%;
        text-align: center;
      }
      .testHead{
        text-align: center;
      }
    </style>
  </head>
  <body>

    {% comment %} <h1 class="testHead">Soinc Rescources</h1> {% endcomment %}

    {% comment %} <div class="testimg">
      <h2 class="testSubHead">Forget your static Files ! We are coming soon to make them obsolete !!</h2>
      <img src="{% static 'img/sonicRun.gif' %}" alt="" style="width:74%;margin-left:13%;">
    </div> {% endcomment %}

    <div class="testimg">
      <img src="{% static 'img/Re_sample.png' %}" alt="" style="width:80%;margin-left:10%;">
    </div>



  </body>
</html>
