<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link href='https://fonts.googleapis.com/css?family=Jost' rel='stylesheet'>
    <link rel="stylesheet" href="assets/sonichomestyle.css">

</head>

<body>
    <div class="navigationBar">
        <img src="assets/img/free Delvery (1) 1.png" class="logoimg">
        <button type="button" class="howto">How to Use?</button>
        <button type="button" class="signin">Sign Up/Log in</button>
    </div>
    <div class="leftside">
        <div class="content">
            Save Image/Code on cloud and load them with link
        </div>
        <div class="content1">
            100% Automatically and Free
        </div>
        <img src="assets/img/gian-cescon-00ByEXKcSkA-unsplash 1.png" class="demoimg">
        <div class="downurl">
            <p class="url" id="url">rl.ly/sfbrei</p>
            <img class="copy" src="assets/img/copy1.png">
            <button class="cp" type="button"></button>
        </div>
    </div>
    <div class="shareimg"><img src="assets/img/share1.png"></div>

    <div class="rightside">
        <div class="maindiv">
            <p class="textinside">Upload your files</p>

            <img class="containsimg" src="assets/img/draganddrop.png">

        </div>
    </div>
    </div>
</body>

</html>