.navigationBar {
    position: absolute;
    width: 100%;
    height: 70px;
    left: 0px;
    top: 0px;
    background: #B5CAEB;
    border-radius: 0px;
}

.howto {
    position: absolute;
    width: 140.38px;
    height: 36px;
    left: 900.32px;
    top: 16px;
    font-family: Jost;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding-left: 10px;
    line-height: 29px;
    display: flex;
    align-items: center;
    color: #000000;
}

.logoimg {
    position: absolute;
    width: 170.4px;
    height: 60px;
    left: 9px;
    top: 4px;
}

.content {
    position: absolute;
    width: 650px;
    height: 96px;
    left: 38px;
    top: 60px;
    font-family: Jost;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 52px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

.flashcards {
    position: absolute;
    width: 212px;
    height: 41px;
    left: 30px;
    top: 200px;
}

.downurl {
    position: absolute;
    width: 212px;
    height: 41px;
    left: 200px;
    top: 100px;
    border: solid 3px;
    border-radius: 10px;
    box-shadow: 10px 10px 8px #888888;
}

.url {
    position: absolute;
    width: 212px;
    height: 41px;
    left: 40px;
    top: -20px;
    /* top: 737px; */
    font-family: Jost;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 43px;
    display: flex;
    align-items: center;
    color: #000000;
}

.copy {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 158px;
    top: 0px;
    border-radius: 15px;
    background-image: url('assets/img/copy1.png');
}

.cp {
    position: absolute;
    width: 45px;
    height: 40px;
    left: 158px;
    top: 0px;
    border-radius: 15px;
    background-color: transparent;
}

.insidepng {
    position: absolute;
    width: 312px;
    /* height: 35px; */
    top: 0px;
    left: 196px;
    /* top: 272px; */
    font-family: Jost;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    /* line-height: 52px; */
    display: flex;
    align-items: center;
    color: #000000;
}

.deletebutton {
    position: absolute;
    width: 76px;
    height: 36px;
    left: 452px;
    top: 308px;
    font-family: Jost;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 36px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    background-color: brown;
}

.imga {
    height: 200px;
    width: 200px;
}

.maindiv {
    position: absolute;
    width: 350px;
    height: 300px;
    left: 751px;
    top: 200px;
    border-color: 3px thistle;
    filter: drop-shadow(0px 4px 4px rgba(36, 28, 28, 0.25));
    background: #FFFFFF;
    border: 3px solid #B5CAEB;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.textinside {
    position: absolute;
    /* width: 210px;
    height: 34px;
    left: 1025px;
    top: 305px; */
    /* top: -50px; */
    left: 85px;
    font-family: google Jost;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 35px;
    display: flex;
    align-items: center;
    color: #000000;
}

.containsimg {
    position: absolute;
    width: 206px;
    /*height: 150px;
    left: 978px;
    top: 375px; */
    height: 140px;
    top: 100px;
    left: 70px;
}

.userprofile {
    position: absolute;
    /* height: 70px; */
    left: 1070px;
    top: 100px;
}

.photo {
    height: 60px;
}


/* .photo {
    height: 50px;
    left: 200px;
    top: 20px;
}

.dropdown {
    display: inline;
    left: 200px;
    top: 0px;
    background-color: transparent;
    border: none;
} */


/* .dropdown:hover{

} */

.dropbtn {
    background-color: #fcfdfd;
    color: #000000;
    padding: 15px;
    font-size: 16px;
    border: none;
    font-weight: 800;
}

.dropdown {
    position: relative;
    display: inline-block;
    top: -10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #ffffff;
}